<template>
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-if="isEdit">Edit service</h5>
                    <h5 class="modal-title" v-else>Add a new service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input v-model="form.name" :class="{'is-invalid': errors.name}" id="name" type="text" name="name" placeholder="Name" class="form-control">
                                <div class="invalid-feedback" v-for="error in errors.name">{{ error }}</div>
                            </div>
                            <div class="form-group">
                                <label for="name">Description</label>
                                <input v-model="form.description" :class="{'is-invalid': errors.description}" id="description" type="text" name="name" placeholder="Description" class="form-control">
                                <div class="invalid-feedback" v-for="error in errors.description">{{ error }}</div>
                            </div>
                            <div class="form-group">
                                <label for="name">Owner</label>
                                <input v-model="form.owner" :class="{'is-invalid': errors.owner}" id="owner" type="text" name="owner" placeholder="Owner" class="form-control">
                                <div class="invalid-feedback" v-for="error in errors.owner">{{ error }}</div>
                            </div>
                            <div class="form-check">
                                <input v-model="form.is_active" :class="{'is-invalid': errors.is_active}" type="checkbox" class="form-check-input" id="is_active">
                                <label class="form-check-label" for="is_active">Active service</label>
                                <div class="invalid-feedback" v-for="error in errors.is_active">{{ error }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click.prevent="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data ()
        {
            return {
                serviceData: {},
                isEdit: true,
                form: {
                    name: '',
                    description: '',
                    owner: '',
                    is_active: true,
                },
                errors: {},
            };
        },
        methods: {
            /**
             * Set the modal up to create a new service. Reset form and errors.
             */
            setCreate ()
            {
                this.form = {
                    name: '',
                    description: '',
                    owner: '',
                    is_active: false,
                };
                this.isEdit = false;
                this.errors = {};
            },
            /**
             * Load data from an existing service.
             *
             * @param data
             */
            setData (data)
            {
                this.form.name = data.name;
                this.form.description = data.description;
                this.form.owner = data.owner;
                this.form.is_active = data.is_active;
                this.isEdit = true;
                this.serviceData = data;
                this.errors = {};
            },
            /**
             * Handles update/create, hides modal and reloads list.
             */
            submit ()
            {
                this.errors = {};
                let url = '/services';
                if (this.isEdit)
                {
                    url += '/' + this.serviceData.id;
                }
                // Make the request
                axios({url: url, data: this.form, method: this.isEdit ? 'patch' : 'put'}).then(res => {
                    this.$emit('saved');
                    this.hide();
                }).catch((error) => {
                    if (error.response && error.response.data.errors)
                    {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            /**
             * Bootstrap modal functions
             */
            show ()
            {
                $('#serviceModal').modal('show');
            },
            hide ()
            {
                $('#serviceModal').modal('hide');
            }
        }
    }
</script>
