<template>
    <div>
        <div class="row">
            <div class="col">
                <h2>Service Registry</h2>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="submit" @click.prevent="createNew" class="btn btn-primary">Create a new service</button>
            </div>
        </div>
        <hr/>
        <form>
            <div class="row">
                <div class="col">
                    <label for="filter_column">Filter column</label>
                    <select v-model="form.filter_column" id="filter_column" class="form-control">
                        <option value="" selected>Choose...</option>
                        <template v-for="data in columns">
                            <option :value="data.key" v-if="data.searchable">
                                {{ data.title }}
                            </option>
                        </template>
                    </select>
                </div>
                <div class="col">
                    <label for="filter_value">Filter for</label>
                    <input v-model="form.filter_value" type="text" class="form-control" id="filter_value">
                </div>
                <div class="col">
                    <label for="date_after">Created at start</label>
                    <datepicker v-model="form.date_after" id="date_after" :bootstrapStyling="true"></datepicker>
                </div>
                <div class="col">
                    <label for="date_before">Created at end</label>
                    <datepicker v-model="form.date_before" id="date_before" :bootstrapStyling="true"></datepicker>
                </div>
                <div class="col" style="align-self: end;">
                    <button type="submit" @click.prevent="fetchData" class="btn btn-primary">Search</button>
                    <button type="submit" @click.prevent="clearForm" class="btn btn-light">Clear</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-bordered mt-xl-3">
            <thead>
            <tr>
                <th v-for="data in columns" @click.prevent="sortByColumn(data.key)"
                    class="table-head">
                    {{ data.title }}
                    <span v-if="data.sortable && data.key === sortedColumn">
                    <i v-if="sortDirection === 'asc' " class="fa fa-sort-asc"></i>
                    <i v-else class="fa fa-sort-desc"></i>
                </span>
                    <span v-else-if="data.sortable">
                    <i class="fa fa-sort"></i>
                </span>
                </th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="tableData.length === 0">
                <td class="lead text-center" :colspan="columns.length + 1">No data found.</td>
            </tr>
            <tr v-else v-for="data in tableData" :key="data.id">
                <td v-for="column in columns">
                    <template v-if="column.key === 'is_active'">
                        <i v-if="data.is_active" class="fa fa-check"></i>
                        <i v-else class="fa fa-close"></i>
                    </template>
                    <template v-else-if="column.key === 'created_at' || column.key === 'updated_at'">
                        {{ data[column.key] | formatDate }}
                    </template>
                    <template v-else-if="column.key === 'user.name'">
                        {{ data.user.name }}
                    </template>
                    <template v-else>
                        {{ data[column.key] | truncate(20) }}
                    </template>
                </td>
                <td>
                    <a @click.prevent="showEdit(data)"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav v-if="pagination && tableData.length > 0">
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item" v-for="page in pagination" :class="{disabled: page.active | page.page === 0}">
                    <a class="page-link" href="#" @click.prevent="changePage(page.page)" v-html="page.label"></a>
                </li>
            </ul>
        </nav>
        <modal-component @saved="fetchData" ref="modal"></modal-component>
    </div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';

    export default {
        components: {
            Datepicker
        },
        data ()
        {
            return {
                tableData: [],
                columns: [
                    {title: 'Active', key: 'is_active', sortable: false, searchable: false},
                    {title: 'Name', key: 'name', sortable: true, searchable: true},
                    {title: 'Description', key: 'description', sortable: false, searchable: false},
                    {title: 'Owner', key: 'owner', sortable: true, searchable: true},
                    {title: 'Created by', key: 'user.name', sortable: true, searchable: true},
                    {title: 'Created at', key: 'created_at', sortable: true, searchable: false},
                    {title: 'Updated at', key: 'updated_at', sortable: false, searchable: false},
                ],
                pagination: [],
                sortedColumn: 'created_at',
                sortDirection: 'asc',
                currentPage: 1,
                form: {
                    filter_column: '',
                    filter_value: '',
                    date_before: null,
                    date_after: null,
                }
            };
        },
        /**
         * When component is created load initial data
         */
        created ()
        {
            return this.fetchData();
        },
        methods: {
            /**
             * Reset filters
             */
            clearForm ()
            {
                this.form = {
                    filter_column: '',
                    filter_value: '',
                    date_before: null,
                    date_after: null,
                };
                this.fetchData();
            },
            /**
             * Display edit modal
             */
            showEdit (data)
            {
                this.$refs.modal.setData(data);
                this.$refs.modal.show();
            },
            /**
             * Display create modal
             */
            createNew ()
            {
                this.$refs.modal.setCreate();
                this.$refs.modal.show();
            },
            /**
             * Fetch data from backend
             */
            fetchData ()
            {
                // Page and sorting logic
                let dataFetchUrl = `/services?page=${this.currentPage}&sort_column=${this.sortedColumn}&sort_direction=${this.sortDirection}`;
                // Filters
                if (this.form && this.form.filter_column && this.form.filter_value)
                {
                    dataFetchUrl += `&filter_column=${this.form.filter_column}&filter_value=${this.form.filter_value}`;
                }
                // Dates
                if (this.form && this.form.date_after)
                {
                    const dateAfter = moment(this.form.date_after);
                    if (dateAfter.isValid())
                    {
                        dataFetchUrl += `&date_after=${dateAfter.format('YYYY-MM-DD')}`;
                    }
                }
                if (this.form && this.form.date_before)
                {
                    const dateBefore = moment(this.form.date_before);
                    if (dateBefore.isValid())
                    {
                        dataFetchUrl += `&date_before=${dateBefore.format('YYYY-MM-DD')}`;
                    }
                }
                // Make the request
                axios.get(dataFetchUrl)
                    .then(({data}) => {
                        this.pagination = [];
                        for (let link of data.links)
                        {
                            let pageNo = 0;
                            if (link.url)
                            {
                                pageNo = link.url.substr(link.url.indexOf('?page=') + 6);
                            }
                            this.pagination.push({label: link.label, active: link.active, page: pageNo});
                        }
                        this.tableData = data.data;
                    })
                    .catch(error => this.tableData = []);
            },
            /**
             * Change the page.
             * @param pageNumber
             */
            changePage (pageNumber)
            {
                this.currentPage = pageNumber;
                this.fetchData();
            },
            /**
             * Sort the data by column. Flip direction when clicked again.
             * */
            sortByColumn (column)
            {
                // Make sure we can actually sort the column
                let columnData = this.columns.find(function (element) {
                    return element.key === column;
                });
                if (!columnData.sortable)
                {
                    return;
                }
                // Flip direction if the same column as before
                if (column === this.sortedColumn)
                {
                    this.sortDirection = (this.sortDirection === 'asc') ? 'desc' : 'asc';
                }
                else
                {
                    this.sortedColumn = column;
                    this.sortDirection = 'asc';
                }
                // Reload data
                this.fetchData();
            }
        }
    }
</script>
